<div class="row">
  <div class="col-md-12">
    <h4>Search Reporters</h4>
    <form class="form-inline" role="form">
      <div class="form-group">
        <input type="text" ng-model="query" class="form-control" placeholder="Search">
        <br>
      </div>
    </form>
    <br>
    <h2 ng-show="beat.reporters.length && filtered.length">Reporter List</h2>
    <ul>
      <li ng-repeat="item in beat.reporters = (beat.reporters | filter:query)">
          <a ng-click="showme=true">{{item.name}}</a>
          <div>
            <h3 ng-show="showme">Employee: {{item.name}} <br> Years Employed: {{item.yearsEmployed}} <br> DOB: {{item.birthday}}</h3>
          </div>
      </li>
    </ul>
  </div>

  <div>
    <h2>Add A Reporter To {{ beat.title }}</h2>
    <form ng-submit="addReporter()" class="form-inline" role="form">
      <div class="form-group">
        <input type="text" ng-model="reporterName" class="form-control" placeholder=" Reporters Name">
        <input type="text" ng-model="reporterYears" class="form-control" placeholder="Years Employed">
        <input type="text" ng-model="reporterBirthday" class="form-control" placeholder=" Reporters Birthday">
      </div>
      <button type="submit" class="btn btn-warning">Add</button>
    </form>
    <br>
  </div>
</div>